<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>CFBundleURLName</key>
			<string>com.onlineappcreator.webviewgold</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>GoGuide</string>
			</array>
		</dict>
	</array>
	<key>FacebookAppID</key>
	<string>1346892252595378</string>
	<key>FacebookDisplayName</key>
	<string>Go Guide</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>fbapi</string>
		<string>fb-messenger-api</string>
		<string>fbauth2</string>
		<string>fbshareextension</string>
	</array>
	<key>CFBundleAllowMixedLocalizations</key>
	<true/>
	<key>CFBundleDevelopmentRegion</key>
	<string>en_US</string>
	<key>CFBundleDisplayName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleGetInfoString</key>
	<string></string>
	<key>CFBundleIcons</key>
	<dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string></string>
			</array>
			<key>UIPrerenderedIcon</key>
			<false/>
		</dict>
	</dict>
	<key>CFBundleIcons~ipad</key>
	<dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string></string>
			</array>
			<key>UIPrerenderedIcon</key>
			<false/>
		</dict>
	</dict>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.1</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>GADApplicationIdentifier</key>
	<string>ca-app-pub-3940256099942544~1458002511</string>
	<key>GADIsAdManagerApp</key>
	<true/>
	<key>LSApplicationCategoryType</key>
	<string></string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSCameraUsageDescription</key>
	<string>Processing your camera input for scanning purposes </string>
	<key>NSFaceIDUsageDescription</key>
	<string>Used to authenticate login credentials.</string>
	<key>NSHumanReadableCopyright</key>
	<string></string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>Processing your location data to displaying what&apos;s nearby</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Processing your location data to displaying what&apos;s nearby</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>Processing your voice and your video input for video recording and video processing</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>Adding your desired image to your Photos library</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Processing your chosen picture for additional use in the app</string>
	<key>NSPrivacyAccessedAPITypes</key>
	<array>
		<dict>
			<key>NSPrivacyAccessedAPICategory</key>
			<string>NSPrivacyAccessedAPICategorySystemBootTime</string>
			<key>NSPrivacyUsageDescription</key>
			<string>Our app requires the system boot time to ensure synchronization with external data updates and optimize the user experience by adjusting refresh intervals based on device uptime.</string>
		</dict>
		<dict>
			<key>NSPrivacyAccessedAPICategory</key>
			<string>NSPrivacyAccessedAPICategoryFileTimestamp</string>
			<key>NSPrivacyUsageDescription</key>
			<string>This app accesses file timestamps to manage local cache efficiently, ensuring that you always have the most up-to-date content without unnecessary data usage or delays.</string>
		</dict>
		<dict>
			<key>NSPrivacyAccessedAPICategory</key>
			<string>NSPrivacyAccessedAPICategoryDiskSpace</string>
			<key>NSPrivacyUsageDescription</key>
			<string>We check disk space availability to prevent data loss and ensure the app can safely download and store essential data without compromising the device&apos;s performance.</string>
		</dict>
		<dict>
			<key>NSPrivacyAccessedAPICategory</key>
			<string>NSPrivacyAccessedAPICategoryUserDefaults</string>
			<key>NSPrivacyUsageDescription</key>
			<string>Access to UserDefaults is crucial for personalizing your experience by saving your preferences and application settings, making the app more intuitive and easier to use.</string>
		</dict>
	</array>
	<key>NSUserTrackingUsageDescription</key>
	<string>Tracking is requested only for delivering personal notifications and accessing your personal account data. Moreover, it may be used to deliver personalized ads to you. This app will be functional regardless of which privacy option is chosen.</string>
	<key>OneSignal_suppress_launch_urls</key>
	<true/>
	<key>Pushwoosh_APPID</key>
	<string>XXXXX-XXXXX</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>location</string>
		<string>remote-notification</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UIRequiresFullScreen</key>
	<true/>
	<key>UIStatusBarHidden</key>
	<false/>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<true/>
</dict>
</plist>
